---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/environments/master/assets/nyancat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"d902ebea15f5adf746a1a29874959071"'
      X-Contentful-Request-Id:
      - 20fbf19d3e25ae7d5cad2fbc28f903af
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "cfexampleapi"
              }
            },
            "id": "nyancat",
            "type": "Asset",
            "createdAt": "2013-09-02T14:56:34.240Z",
            "updatedAt": "2013-09-02T14:56:34.240Z",
            "revision": 1,
            "locale": "en-US"
          },
          "fields": {
            "title": "Nyan Cat",
            "file": {
              "url": "//images.contentful.com/cfexampleapi/4gp6taAwW4CmSgumq2ekUm/9da0cd1936871b8d72343e895a00d611/Nyan_cat_250px_frame.png",
              "details": {
                "size": 12273,
                "image": {
                  "width": 250,
                  "height": 250
                }
              },
              "fileName": "Nyan_cat_250px_frame.png",
              "contentType": "image/png"
            }
          }
        }
  recorded_at: Tue, 04 Apr 2017 17:09:16 GMT
recorded_with: VCR 3.0.3
