---
http_interactions:
- request:
    method: get
    uri: https://preview.contentful.com/spaces/cfexampleapi/assets/happycat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"eb3bce6144d8829ff2484006069b8843"'
      X-Contentful-Request-Id:
      - 405-1395099072
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "file": {
              "fileName": "happycatw.jpg",
              "contentType": "image/jpeg",
              "details": {
                "image": {
                  "width": 273,
                  "height": 397
                },
                "size": 59939
              },
              "url": "//images.contentful.com/cfexampleapi/3MZPnjZTIskAIIkuuosCss/382a48dfa2cb16c47aa2c72f7b23bf09/happycatw.jpg"
            },
            "title": "Happy Cat"
          },
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "cfexampleapi"
              }
            },
            "type": "Asset",
            "id": "happycat",
            "revision": 2,
            "createdAt": "2013-09-02T14:56:34.267Z",
            "updatedAt": "2013-09-02T15:11:24.361Z",
            "locale": "en-US"
          }
        }
  recorded_at: Fri, 11 Dec 2015 12:37:35 GMT
recorded_with: VCR 2.9.3
