---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/assets/happycat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"b501f3e43b83ec7a9b23f770eaf37a23"'
      X-Contentful-Request-Id:
      - a15362748c71005fae6bfdf1b6486fe6
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "cfexampleapi"
              }
            },
            "id": "happycat",
            "type": "Asset",
            "createdAt": "2013-09-02T14:56:34.267Z",
            "updatedAt": "2013-09-02T15:11:24.361Z",
            "revision": 2,
            "locale": "en-US"
          },
          "fields": {
            "title": "Happy Cat",
            "file": {
              "url": "//images.contentful.com/cfexampleapi/3MZPnjZTIskAIIkuuosCss/382a48dfa2cb16c47aa2c72f7b23bf09/happycatw.jpg",
              "details": {
                "size": 59939,
                "image": {
                  "width": 273,
                  "height": 397
                }
              },
              "fileName": "happycatw.jpg",
              "contentType": "image/jpeg"
            }
          }
        }
  recorded_at: Tue, 04 Apr 2017 17:09:16 GMT
recorded_with: VCR 3.0.3
