---
http_interactions:
- request:
    method: get
    uri: https://preview.contentful.com/spaces/cfexampleapi/entries/garfield
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"3dd136e9704fdebe3e7b9a3785ddcf42"'
      X-Contentful-Request-Id:
      - 405-1395085560
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": "Garfield",
            "likes": [
              "lasagna"
            ],
            "color": "orange",
            "lifes": null,
            "lives": 9,
            "birthday": "1979-06-18T23:00:00+00:00"
          },
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "cfexampleapi"
              }
            },
            "type": "Entry",
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "cat"
              }
            },
            "id": "garfield",
            "revision": 2,
            "createdAt": "2013-06-27T22:46:20.821Z",
            "updatedAt": "2013-08-27T10:09:07.929Z",
            "locale": "en-US"
          }
        }
  recorded_at: Fri, 11 Dec 2015 12:02:12 GMT
recorded_with: VCR 2.9.3
