---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/entries?sys.id=garfield
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"2a6587bde15212bce014b475202befb5"'
      X-Contentful-Request-Id:
      - f7ab298e94fde6da152d7a8fd042206d
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "id": "garfield",
                "type": "Entry",
                "createdAt": "2013-06-27T22:46:20.821Z",
                "updatedAt": "2013-08-27T10:09:07.929Z",
                "revision": 2,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "cat"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "name": "Garfield",
                "likes": [
                  "lasagna"
                ],
                "color": "orange",
                "birthday": "1979-06-18T23:00:00+00:00",
                "lifes": null,
                "lives": 9
              }
            }
          ]
        }
  recorded_at: Tue, 04 Apr 2017 17:09:02 GMT
recorded_with: VCR 3.0.3
