---
http_interactions:
- request:
    method: get
    uri: https://preview.contentful.com/spaces/cfexampleapi/entries/happycat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"3af7376084551d7cdfa312678745e8c3"'
      X-Contentful-Request-Id:
      - 90a-2093552045
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": "Happy Cat",
            "bestFriend": {
              "sys": {
                "type": "Link",
                "linkType": "Entry",
                "id": "nyancat"
              }
            },
            "likes": [
              "cheezburger"
            ],
            "color": "gray",
            "birthday": "2003-10-28T23:00:00+00:00",
            "lives": 1,
            "image": {
              "sys": {
                "type": "Link",
                "linkType": "Asset",
                "id": "happycat"
              }
            }
          },
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "cfexampleapi"
              }
            },
            "type": "Entry",
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "cat"
              }
            },
            "id": "happycat",
            "revision": 8,
            "createdAt": "2013-06-27T22:46:20.171Z",
            "updatedAt": "2013-11-18T15:58:02.018Z",
            "locale": "en-US"
          }
        }
  recorded_at: Fri, 11 Dec 2015 12:02:16 GMT
recorded_with: VCR 2.9.3
