---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/environments/master/content_types?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"a74bc0b64b4ed0d8864f88c464ca92ec"'
      X-Contentful-Request-Id:
      - c40-589309641
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 5,
          "skip": 0,
          "limit": 1000,
          "items": [
            {
              "fields": [
                {
                  "name": "Name",
                  "id": "name",
                  "type": "Text",
                  "required": true
                },
                {
                  "name": "Center",
                  "id": "center",
                  "type": "Location",
                  "required": true
                }
              ],
              "name": "City",
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "type": "ContentType",
                "id": "1t9IbcfdCk6m04uISSsaIK",
                "revision": 1,
                "createdAt": "2014-02-21T13:42:33.009Z",
                "updatedAt": "2014-02-21T13:42:33.009Z"
              },
              "displayField": "name"
            },
            {
              "fields": [
                {
                  "id": "name",
                  "name": "Name",
                  "type": "Text",
                  "required": true,
                  "localized": false
                }
              ],
              "name": "Cat",
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "type": "ContentType",
                "id": "63k4qdEi9aI8IQUGaYGg4O",
                "revision": 1,
                "createdAt": "2013-06-23T19:06:29.976Z",
                "updatedAt": "2013-06-23T19:06:29.976Z"
              },
              "description": "Meow!",
              "displayField": "name"
            },
            {
              "fields": [
                {
                  "id": "name",
                  "name": "Name",
                  "type": "Text",
                  "required": true,
                  "localized": false
                },
                {
                  "id": "description",
                  "name": "Description",
                  "type": "Text",
                  "required": false,
                  "[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/environments/master/entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"474a1d8a1e34ebf8e98f420724e24f17"'
      X-Contentful-Request-Id:
      - c40-589333551
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 11,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "type": "Entry",
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "dog"
                  }
                },
                "id": "6KntaYXaHSyIw8M6eo26OK",
                "revision": 2,
                "createdAt": "2013-11-06T09:45:27.475Z",
                "updatedAt": "2013-11-18T09:13:37.808Z",
                "locale": "en-US"
              },
              "fields": {
                "name": "Doge",
                "image": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Asset",
                    "id": "1x0xpXu4pSGS4OukSyWGUK"
                  }
                },
                "description": "such json\nwow"
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "type": "Entry",
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "1t9IbcfdCk6m04uISSsaIK"
                  }
                },
                "id": "4MU1s3potiUEM2G4okYOqw",
                "revision": 1,
                "createdAt": "2014-02-21T13:42:45.926Z",
                "updatedAt": "2014-02-21T13:42:45.926Z",
                "locale": "en-US"
              },
              "fields": {
                "name": "Berlin",
                "center": {
                  "lat": 52.52000659999999,
                  "lon": 13.404953999999975
                }
              }
            },
            {
              "fields": {
                "name": "Happy Cat",
                "bestFriend": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Entry",
                    "id": "nyancat"
                  }
                },
                "likes": [
                  "cheezburger"
                ],
                "color": "gray",
                "birthday": "2003-10-28T23:00:00+00:00",
                "lives": 1,
                "image": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Asset",
                    "id": "happycat"
                  }
                }
              },
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "type": "Entry",
      [...]
