---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/ycz65dz7s75m/content_types?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.2.1; platform ruby/2.5.1; os macOS/16;
      Authorization:
      - Bearer 7790b343268100301696628b99678de6a552c967ded5c448bf9f2cba3de806ca
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"a802c9553879adaad0097a8beedb5ecc"'
      X-Contentful-Request-Id:
      - b86f4e978f9a1bfee6bc90007bbe9e41
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 1000,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "ycz65dz7s75m"
                  }
                },
                "id": "test",
                "type": "ContentType",
                "createdAt": "2018-06-14T13:13:07.886Z",
                "updatedAt": "2018-06-14T13:13:07.886Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1
              },
              "displayField": "someField",
              "name": "Test",
              "description": "",
              "fields": [
                {
                  "id": "someField",
                  "name": "someField",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "disabled": false,
                  "omitted": false
                }
              ]
            }
          ]
        }
  recorded_at: Thu, 14 Jun 2018 13:16:11 GMT
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/ycz65dz7s75m/entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.2.1; platform ruby/2.5.1; os macOS/16;
      Authorization:
      - Bearer 7790b343268100301696628b99678de6a552c967ded5c448bf9f2cba3de806ca
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
  [...]
