---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/jd7yc4wnatx3/environments/master/content_types?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.10.0; platform ruby/2.5.1; os macOS/16;
      Authorization:
      - Bearer 6256b8ef7d66805ca41f2728271daf27e8fa6055873b802a813941a0fe696248
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - W/"0ecb92174772cc7a40d4a981e109aaab"
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - ecb2c84c8bdbaa892430f580b6d322ff
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 2,
          "skip": 0,
          "limit": 1000,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "jd7yc4wnatx3"
                  }
                },
                "id": "embedded",
                "type": "ContentType",
                "createdAt": "2018-08-22T10:44:07.886Z",
                "updatedAt": "2018-08-22T10:44:07.886Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1
              },
              "displayField": "body",
              "name": "Embedded",
              "description": "",
              "fields": [
                {
                  "id": "body",
                  "name": "Body",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "disabled": false,
                  "omitted": false
                }
              ]
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "jd7yc4wnatx3"
                  }
                },
                "id": "stTest",
                "type": "ContentType",
                "createdAt": "2018-08-22T10:43:50.802Z",
                "updatedAt": "2018-08-22T10:43:50.802Z",
           [...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/jd7yc4wnatx3/environments/master/entries?sys.id=4BupPSmi4M02m0U48AQCSM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.10.0; platform ruby/2.5.1; os macOS/16;
      Authorization:
      - Bearer 6256b8ef7d66805ca41f2728271daf27e8fa6055873b802a813941a0fe696248
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status[...]
